{% extends 'base.html.twig' %}

{% block title %}Empresas - Sectores{% endblock %}

 {% block stylesheets %}
        <link href="{{ asset('css/estilos.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

{% block body %}
<style>
    
    .example-wrapper { margin: 11%; width: 50%;  height: 50%; font: 18px/1.5 sans-serif; display: inline-flex; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<div class="boton_empresas"><a href="{{path('empresas')}}">Empresas</a></div><div class="boton_sectores" ><a href="{{path('sectores')}}">Sectores</a></div>
</div>
{% endblock %}
