<form method="post" action="{{ path('empresas'}}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ empresa.id) }}">
  <button class="btn" class="boton_crear">Cancelar</button>
</form>
